<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.owen.orchard.agent</string>

  <key>ProgramArguments</key>
  <array>
    <string>__ORCHARD_AGENT_BINARY__</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>ORCHARD_SERVER_URL</key>
    <string>http://100.100.100.10:8080</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>WorkingDirectory</key>
  <string>__ORCHARD_WORKDIR__</string>

  <key>StandardOutPath</key>
  <string>__ORCHARD_LOG_DIR__/agent.out.log</string>

  <key>StandardErrorPath</key>
  <string>__ORCHARD_LOG_DIR__/agent.err.log</string>
</dict>
</plist>
